* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color:#fff;

}

body {
	font-size: 1em;
	line-height: 1.5;
	width: 100vw;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
    display: block
}

a {
	text-decoration: none;
	color: white;
    transition: color .15s ease;
    background-color: transparent;
}

ol, ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}


.site-header {
	margin: 68px;
}

header#site-header #topbar-nav .new-lower-leaderboard, header#site-header #topbar-nav .oc {
    position: relative;
}


topbar-nav .oc {
	height: auto;
}

ul#menu-primary-navigatin>li {
	display: inline-block;
	margin: 0 26px;}

header#site-header #topbar-nav {
	height: 38px;
	background-image: none;
    height: 38px; 
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
	background-color:#4d4d4d;
}

.grid {
	background-image: url(./images/grid-pattern.png);
	height: 100px;
}






.oc {
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	max-width: 57.5em;
	position: relative;
	height: inherit;
}

.oc::before, .oc::after {
	clear: both;
}

#masthead {
	margin-left:144px;
	height: inherit;
	display: flex;
	justify-content: space-around;
	}

#topbar-nav .oc {
	height: 104px
}
.search {
	height: 38px
}
.social {
	height: 38px;
	display: flex;
	justify-content: space-around;
	width: 50px;
}

.brand {
	font-size: 0;
    display: block;
    float: left;
    position: absolute;
    padding: 15px 0;
    z-index: 1;
    margin-top: -26px;
    padding: 0;
    width: 132px;
    box-sizing:content-box;


}



.logo-desktop {
	position: relative;
/*    border: 1px solid #595a5c;
*/
}

.row {
	display: block;
	height: 13px;

}


.square {
	display: inline-block;
    width: 13px;
    height: 13px;
    border-right: 1px solid #595a5c;
    border-bottom: 1px solid #595a5c;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    background-color: #231f20;
    transition: background-color .6s;


}

::selection {
    background-color: #ffd300;
}

a:active, a:focus, a:hover {
    color: #bf9e00;
}